:root {
 --primary: #00b6f8;
 --secondary: #00dfff;
}

body {
 background-color: #151515;
 color: white;
 text-align: center;
 font-family: "Ubuntu", sans serif;
}

a {
 text-decoration: none;
 padding-bottom: 20px;
}

.current-temperature,
.high-low,
ul,
a {
 color: var(--secondary);
}

.current-temperature,
.high-low,
ul {
 font-family: monospace;
}

.current-temperature {
 color: white;
 font-size: 60px;
 font-weight: bold;
}

.date-time {
 opacity: 0.8;
 font-size: 30px;
}

.five-day {
 border-radius: 10px;
 max-width: 850px;
 padding-top: 50px;
 display: block;
 margin: 10px auto;
 font-size: 25px;
 line-height: 1.3;
}

footer {
 padding: 100px 0px;
}

.high-low strong,
footer a {
 color: var(--primary);
}

h1 {
 margin: 0px;
 font-size: 50px;
}

input {
 margin: auto;
 border-radius: 10px;
 position: relative;
 padding: 5px 20px;
 top: 5px;
}

main {
 border: 3px solid white;
 border-radius: 10px;
 max-width: 900px;
 background-color: #121212;
 display: block;
 margin: auto;
 padding-bottom: 50px;
 position: relative;
 top: 40px;
}

.row:first-of-type {
 top: 20px;
 position: relative;
}

.top-upper-left {
 text-align: left;
 padding-left: 100px;
}

.top-upper-right {
 text-align: right;
 padding-right: 100px;
}

ul {
 font-size: 20px;
 font-weight: 100px;
 list-style: none;
 padding-left: 0px;
 line-height: normal;
}

.unit-convert {
 font-size: 15px;
 font-weight: bold;
}

.unit-convert .active {
 color: white;
}

@media (max-width: 925px) {
 .top-upper-left {
  padding-left: 50px;
 }

 .top-upper-right {
  padding-right: 50px;
 }
}

@media (max-width: 576px) {
 #city-input {
  padding: 5px;
 }

 .current-temperature {
  font-size: 50px;
 }

 .date-time {
  font-size: 18px;
 }

 .five-day {
  padding-top: 30px;
 }

 .five-day .col {
  padding: 0px;
 }

 h1 {
  font-size: 40px;
 }

 main {
  padding-bottom: 30px;
 }

 .top-upper-right img {
  display: none;
 }

 .top-upper-right {
  padding-right: 30px;
  padding-left: 0px;
 }

 .top-upper-left {
  padding-left: 30px;
  padding-right: 0px;
 }

 ul,
 .day,
 .high-low,
 #city-input {
  font-size: 16px;
 }

 .unit-convert {
  font-size: 12px;
 }
}
